// General styles

body
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection
{
    color: #efefef;
    background-color: $brand-info;
}

a
{
    &:hover
    {
        text-decoration: none;
    }
}

// Fix Bootstrap styles

.label
{
    border-radius: 0;
}
