// General styles

body
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection
{
    color: #efefef;
    background-color: $brand-info;
}

a
{
    &:hover
    {
        text-decoration: none;
    }
}

// Fix & expand Bootstrap styles

.label
{
    border-radius: 0;
}

.pager
{
    a
    {
        &:hover
        {
            color: #ffffff;
        }
    }
}

.nav
{
    &>li
    {
        &>a
        {
            &:hover
            {
                color: #ffffff;
            }
        }
    }

    .dropdown
    {
        .dropdown-toggle
        {
            &:focus
            {
                color: #ffffff;
            }
        }
    }
}
