.btn
{
    &:active
    {
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    &.disabled
    {
        background-color: $disabled-custom;
        color: #ffffff;
        border: 1px solid $disabled-custom;

        &:hover
        {
            color: $disabled-custom;
            background-color: #ffffff;
        }
    }

    &:hover,
    &:focus,
    &:active,
    &.active,
    {
        background-color: transparent;
    }

    &.btn-primary
    {
        &:hover,
        &:focus,
        &:active,
        &.active,
        {
            color: $brand-primary;
            border-color: $brand-primary;
        }
    }

    &.btn-success
    {
        &:hover,
        &:focus,
        &:active,
        &.active,
        {
            color: $brand-success;
            border-color: $brand-success;
        }
    }

    &.btn-info
    {
        &:hover,
        &:focus,
        &:active,
        &.active,
        {
            color: $brand-info;
            border-color: $brand-info;
        }
    }

    &.btn-warning
    {
        &:hover,
        &:focus,
        &:active,
        &.active,
        {
            color: $brand-warning;
            border-color: $brand-warning;
        }
    }

    &.btn-danger
    {
        &:hover,
        &:focus,
        &:active,
        &.active,
        {
            color: $brand-danger;
            border-color: $brand-danger;
        }
    }
}

.btn-group
{
    &.open
    {
        &>.dropdown-toggle
        {
            box-shadow: none;
            -webkit-box-shadow: none;

            &.btn
            {
                background-color: transparent;
            }

            &.btn-primary
            {
                color: $brand-primary;
                border-color: $brand-primary;
            }

            &.btn-info
            {
                color: $brand-info;
                border-color: $brand-info;
            }

            &.btn-warning
            {
                color: $brand-warning;
                border-color: $brand-warning;
            }

            &.btn-danger
            {
                color: $brand-danger;
                border-color: $brand-danger;
            }

            &.btn-success
            {
                color: $brand-success;
                border-color: $brand-success;
            }
        }
    }
}

.input-group-btn
{
    button
    {
        height: 34px;
    }
}
