.carousel.slide
{
    .carousel-indicators
    {
        bottom: 5px;

        li
        {
            width: 12px;
            height: 12px;
            margin-bottom: 1px;
            margin-left: 4px;
            margin-right: 4px;
            border: none;
            background-color: #ffffff;
            transition: background-color 0.1s ease;

            &:hover
            {
                background-color: $brand-info;
            }

            &.active
            {
                background-color: $brand-info;
            }
        }

        @media all and (max-width: $screen-xs-max)
        {
            display: none;
        }
    }

    .carousel-inner
    {
        img
        {
            width: 100%;
        }

        .carousel-caption
        {
            width: 100%;
            text-align: left;
            left: 0;
            top: 10%;
            padding-left: 15px;
            padding-right: 15px;

            @media all and (min-width: $screen-sm-min)
            {
                left: 50%;
                width: $container-sm - 150px;
                margin-left: ( -$container-sm + 150px ) / 2;
            }

            @media all and (min-width: $screen-md-min)
            {
                left: 50%;
                width: $container-md - 150px;
                margin-left: ( -$container-md + 150px ) / 2;
            }

            @media all and (min-width: $screen-lg-min)
            {
                left: 50%;
                width: $container-lg - 150px;
                margin-left: ( -$container-lg + 150px ) / 2;
            }

            &>*
            {
                max-width: 100%;
                color: #fff;

                @media all and (min-width: $screen-sm-min)
                {
                    max-width: 60%;
                }

                @media all and (min-width: $screen-md-min)
                {
                    max-width: 40%;
                }
            }

            &>h4
            {
                font-size: $font-size-h1;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: $line-height-computed;
            }

            .btn
            {
                &.btn-info
                {
                    &:hover
                    {
                        background-color: #ffffff;
                        color: $brand-info;
                        border-color: #ffffff;
                    }
                }

                &.btn-primary
                {
                    &:hover
                    {
                        background-color: #ffffff;
                        color: $brand-primary;
                        border-color: #ffffff;
                    }
                }
            }

            @media all and (max-width: $screen-xs-max)
            {
                padding-bottom: 0;
                width: 70%;
                left: 15%;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p
                {
                    font-size: 0.9em;
                    margin: 0;
                }

                a
                {
                    font-size: 0.8em;
                    margin: 0;
                }

                .btn
                {
                    padding: 3px 8px;
                }
            }
        }
    }

    .carousel-control
    {
        background-image: none;
        color: #fff;

        &:before
        {
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            background-color: $brand-info;
            border-width: 25px;
            border-style: solid;
        }

        span
        {
            position: absolute;
            top: 50%;
            margin-top: -25px;
            line-height: 34px;
            width: 50px;
            height: 50px;
            @include opacity(0.5);
            transition: all 0.1s ease;
        }

        &.left
        {
            &:before
            {
                border-color: transparent darken($brand-info, 5%) darken($brand-info, 5%) transparent;
                left: 0;
            }

            span
            {
                left: 0;
            }
        }

        &.right
        {
            &:before
            {
                border-color: darken($brand-info, 5%) transparent transparent darken($brand-info, 5%);
                right: 0;
            }

            span
            {
                right: 0;
            }
        }

        &:hover
        {
            span
            {
                @include opacity(1);
            }

            @include opacity(1);
        }
    }
}
