.cart-container
{

    margin-left: 40px;

    .cart-menu
    {
        a
        {
            position: relative;
            padding-right: 0;

            &:before
            {
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                content: '\e033';
                display: block;
                position: absolute;
                top: 50%;
                left: -30px;
                width: 33px;
                height: 30px;
                margin-top: -15px;
                padding: 4px 0;
                border-right: 1px solid $brand-primary;
                color: $brand-info;
            }
        }

        .badge
        {
            position: absolute;
            left: -32px;
            top: 31px;
            background-color: transparent;
            font-size: 12px;
            padding: 0;
            width: 22px;
        }
    }

    @media all and (max-width: $screen-xs-max)
    {
        position: absolute;
        top: 2px;
        right: 100px;
    }
}
