// Special titles

.fik-special-title
{
    margin: 0;
    text-transform: uppercase;
    font-weight: $headings-font-weight;
    margin-bottom: 2 * $line-height-computed;
    position: relative;

    &:after
    {
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 3px;
        left: 0;
        bottom: -12px;
        background-color: $brand-primary;
    }
}

// Latest-posts

.latest-posts
{

    .thumbnail
    {
        border: none;
        padding: 0;

        .caption
        {
            text-align: left;
            position: relative;

            .entry-title
            {
                a
                {
                    color: $brand-primary;
                }
            }

            .author
            {
                margin: 0;
                color: $gray-light;
            }

            .published
            {
                color: $gray-light;
            }

            .number-comments
            {
                position: absolute;
                top: 21px;
                right: 9px;
                color: $gray-custom-darker;

                .comments-icon
                {
                    margin-right: 4px;
                    color: $gray-custom-darker;
                    font-size: 1.2em;
                }
            }
        }
    }
}
