// Special titles

.fik-special-title
{
    margin: 0;
    font-weight: $headings-font-weight;
    margin-bottom: 2 * $line-height-computed;
    position: relative;
    text-align: center;
    color: $gray-custom-darker;

    &:before
    {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        left: 0;
        top: 45%;
        background-color: $gray-custom-dark;
        z-index: -1;
    }

    span
    {
        background-color: $gray-custom-light;
        padding: 0 40px;
    }
}

// Latest-posts

.latest-posts
{

    .thumbnail
    {
        border: none;
        padding: 0;

        .caption
        {
            text-align: left;
            position: relative;

            .entry-title
            {

                a
                {
                    color: $brand-primary;
                }
            }

            .author
            {
                margin: 0;
                color: $gray-custom-darker;
                font-weight: $headings-font-weight;
                font-size: $font-size-small;

                .published,
                a
                {
                    text-transform: uppercase;
                }
            }

            .number-comments
            {
                position: absolute;
                top: 21px;
                right: 9px;
                color: $gray-custom-darker;
                font-weight: $headings-font-weight;

                .comments-icon
                {
                    margin-right: 4px;
                    color: $gray-custom-darker;
                    font-size: 1.2em;
                }
            }
        }
    }
}
