.widget_calendar
{
    thead,
    tbody
    {
        th,
        td
        {
            padding: 3px;
            text-align: center;
        }
    }
}

.content-info
{
    .widget
    {
        ul
        {
            list-style: none;
            padding: 0;
        }
    }
}
