.error404
{
    text-align: center;

    .cart-container .cart-menu a:before
    {
        text-align: left;
    }

    .head
    {
        height: 360px;
        margin: 0 auto 2*$line-height-computed;
    }

    h2
    {
        color: $brand-info;
        margin-bottom: 2*$line-height-computed;
    }

    form
    {
        margin-bottom: 2*$line-height-computed;
    }
}
