// Single post
.single-post
{
    .hentry
    {
        .entry-content
        {
            padding-bottom: 30px;
            border-bottom: 1px solid $gray-custom-dark;
            margin-bottom: 30px;
        }
    }
}
