.content-info
{
    background-color: $gray-darker;
    margin-bottom: 0;
    padding-bottom: 15px;

    p
    {
        font-size: $font-size-base;
    }

    .widget
    {
        .widget-title
        {
            font-size: $font-size-large;
            color: $brand-info;
            margin-top: 0;
        }
    }
}
