.content-info
{
    background-color: $gray-darker;
    margin-bottom: 0;
<<<<<<< HEAD
    padding-bottom: 15px;
=======
    padding-bottom: $line-height-computed;
    background-color: $gray-darker;
    color: $gray-lighter;
>>>>>>> b1749ac0e10adcbaf35725ddc83fb71bfbc172e1

    p
    {
        font-size: $font-size-base;
    }

    .widget
    {
        .widget-title
        {
            font-size: $font-size-large;
            color: $brand-info;
            margin-top: 0;
        }
    }
}
