.banner
{
    border-width: 0 0 4px;

    .navbar-header
    {
        .navbar-brand
        {
            padding-top: 0;
            padding-bottom: 0;
            height: 70px;
            display: inline-block;
            float: none;

            img
            {
                height: 70px;
                width: auto;
            }
        }

        .navbar-brand-description
        {
            display: inline-block;
            margin-top: 26px;
            font-size: 0.9em;
            color: #aaaaaa;
            float: none;

            @media all and (max-width:$screen-sm-max)
            {
                display: none;
            }
        }

        .navbar-toggle
        {
            border: none;

            &:hover,
            &:focus,
            &:active
            {
                background-color: transparent;
            }

            .icon-bar
            {
                background-color: $brand-info;
                height: 3px;

            }
        }
    }

    .navbar-collapse
    {
        @media all and (max-width:$screen-xs-max)
        {
            width: 100%;
            margin: 0;
            text-align: center;

            .dropdown-menu
            {
                text-align: center;
            }
        }
    }

    nav
    {
        font-weight: 600;
    }

    a
    {
        transition: all .1s ease;
    }

    .nav .dropdown .dropdown-toggle:focus
    {
        color: $brand-info;
    }
}

body.logged-in
{
    .banner
    {
        top: 32px;
    }
}
