.featured-image
{
    margin-bottom: $line-height-computed;
    text-align: center;

    img
    {
        display: inline;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    &.page-featured-image
    {
        margin-top: 74px;
        margin-bottom: 0;

        ~ .wrap
        {
            padding-top: 40px;
        }

        ~ .widget-area-top
        {
            margin-top: 0;
        }
    }
}
