// General & archive blog
.hentry
{
    margin-bottom: 30px;

    header
    {
        .entry-title
        {
            font-size: $font-size-h4;
            color: $brand-info;
            margin-top: 35px;
            margin-bottom: 10px;

            a
            {
                font-size: $font-size-h4;
            }
        }

        .byline
        {
            color: $brand-primary;
            font-weight: $headings-font-weight;
            margin-bottom: 20px;

            .fn
            {
                color: $brand-primary;
                text-decoration: none;

                &:hover
                {
                    color: $brand-info;
                }
            }
        }
    }

    .entry-content
    {
        margin-bottom: 50px;
    }

    .entry-summary
    {
        margin-bottom: 50px;
    }
}
<<<<<<< HEAD

// Single post
.single-post
{
    .hentry
    {

    }
}
=======
>>>>>>> 1e3b48b7f9c35a9419906c560a068f7c3feaa071
