// General & archive blog
.hentry
{
    margin-bottom: 30px;

    header
    {
        position: relative;

        .entry-title
        {
            font-size: $font-size-h4;
            color: $brand-info;
            margin-top: 35px;
            margin-bottom: 10px;

            a
            {
                font-size: $font-size-h4;
            }
        }

        .byline
        {
            color: $brand-primary;
            font-weight: $headings-font-weight;
            margin-bottom: 20px;

            .fn
            {
                color: $brand-primary;
                text-decoration: none;

                &:hover
                {
                    color: $brand-info;
                }
            }
        }

        .number-comments
        {
            position: absolute;
            right: 0;
            top: 0;
            font-weight: $headings-font-weight;
            color: $gray-custom-darker;

            .comments-icon
            {
                margin-right: 5px;
                color: $gray-custom-dark;
                font-size: 1.2em;
            }
        }
    }

    .entry-content
    {
        margin-bottom: 50px;
    }

    .entry-summary
    {
        margin-bottom: 50px;
    }
}
